---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import FeaturesSection from '../components/home/FeaturesSection.astro';
import StatsSection from '../components/home/StatsSection.astro';
import AboutSection from '../components/home/AboutSection.astro';
import ContactSection from '../components/home/ContactSection.astro';
---

<Layout title="Home">
  <main>
    <HeroSection />
    <FeaturesSection />
    <StatsSection />
    <AboutSection />
    <ContactSection />
  </main>
</Layout>