---
import '../styles/fonts.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kalam.pk - Your Digital Platform for Islamic Knowledge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Kalam.pk</title>
  </head>
  <body class="font-poppins">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>